@model IEnumerable<Common.User>
@using BusinessLayer;
@{
    ViewBag.Title = "GetAllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    View All Users</h2>
<table>
    <tr>
        <th>
            Username
        </th>
        <th>
            Name
        </th>
        <th>
            Surname
        </th>
        <th>
            Password
        </th>
        <th>
            Email
        </th>
        <th>
            Role
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @{
                var role = new UserBL().getUserRole(item.Username).Role.RoleName.ToString();
                <text> @role </text>
                }
            </td>
            <td>
                @{if (new PermissionBL().getPermissionOfUser(item.Username).AllowEdit == true || new UserBL().getUserRole(User.Identity.Name).IsAdmin == true)
                  {
                    @Html.ActionLink("Edit User Details", "EditUser", "User", new { username = item.Username }, null) <text>
                    |</text>  
                  }
                  else
                  {
                    <text>You do not have the permission to edit!</text>  
                  }
                }
                @{if (new PermissionBL().getPermissionOfUser(item.Username) != null)
                  {
                      if (new PermissionBL().getPermissionOfUser(item.Username).AllowEdit == true || new UserBL().getUserRole(User.Identity.Name).IsAdmin==true)
                      {
                    @Html.ActionLink("Edit Permissions", "EditPermission", "Permission", new { username = item.Username }, null) <text>|</text>
                      }
                      else
                      {
                    <text>You do not have the permission to edit!</text>  
                      }
                  }
                  else
                  {
                    
                    @Html.ActionLink("Add Permissions", "CreatePermission", "Permission", new { username = item.Username }, null) <text>|</text>
                  }
            
                }
                @if (new PermissionBL().getPermissionOfUser(item.Username).AllowDelete == true || new UserBL().getUserRole(User.Identity.Name).IsAdmin == true)
                {
                    @Html.ActionLink("Delete User", "deleteUser", "User", new { username = item.Username }, new { onclick = "return confirm('Are you sure you want to delete user: " + @item.Username + " ?');" })
                }
                else
                {
                    <text>You do not have the permission to delete!</text>
                }
            </td>
        </tr>
    }
</table>
