@model IEnumerable<Common.Product>
@using BusinessLayer;

@{
    ViewBag.Title = "ProductManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
   <h5> @Html.ActionLink("Create Product", "CreateProduct", "Product") </h5>
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Details
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
        <th>
            Username (Seller)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
             &euro; @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsernameFK)
        </td>
        <td>
        @{if (new PermissionBL().getPermissionOfUser(item.UsernameFK).AllowEdit == true)
         {
                @Html.ActionLink("Edit Product ", "EditProduct", "Product", new { productID = item.ProductID }, null)<text> |</text>
                }
                else
                {
                    <text>You do not have the permission to edit!</text>
                }
           }
            @{if (new PermissionBL().getPermissionOfUser(item.UsernameFK).AllowDelete == true)
              {
                @Html.ActionLink("Delete", "deleteProduct", "Product", new { id = item.ProductID }, new { onclick = "return confirm('Are you sure you want to delete product: " + @item.Name + " ?');" })
              }
              else
              {
                <text>You do not have the permission to delete!</text>
              }
            }
        </td>
    </tr>
}

</table>
