@model Traders_Marketplace.Models.EditPermissionModel

@{
    ViewBag.Title = "EditPermission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.permissionID)
    <fieldset>
        <legend>Edit Permissions for User: @Session["userForPermission"].ToString()</legend>
        <br />
        <table>
            <tr>
            <th colspan="2">
            Permissions
            </th>
            
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Create)
                </td>
                <td>
                    @Html.EditorFor(model => model.Create)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Edit):
                </td>
                <td>
                    @Html.EditorFor(model => model.Edit)
                    @Html.ValidationMessageFor(model => model.Edit)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Delete):
                </td>
                <td>
                    @Html.EditorFor(model => model.Delete)
                    @Html.ValidationMessageFor(model => model.Delete)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.View):
                </td>
                <td>
                    @Html.EditorFor(model => model.View)
                    @Html.ValidationMessageFor(model => model.View)
                </td>
            </tr>
        </table>

        
        <br />
            <input type="submit" value="Save" />
    </fieldset>
}